<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
   <header class="header">
    <nav class="nav container">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
          <div class="nav-title">
            Thamizh
          </div>
        </div>
        <div class="nav-btn">
          <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div>
        
        <ul class="nav-links">
          <a routerLink="../home">Home</a>
          <a routerLink="../about">About us</a>
          <a routerLink="../services">services</a>
          <a routerLink="../contact">contact</a>
          <div class="dropdown">
            <div>
              <span>Requirtment</span>
            <img style="width: 15px;height: 15px;margin-left: 5px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTr8ZvJD2WD9X8ICqqvIKOtXIlBEKLFP2_DEYX8H2FvZaQEZNUHuDPjOCMbufEy1UZtMlE&amp;usqp=CAU" class="rg_i Q4LuWd" jsname="Q4LuWd" width="153" height="153" alt="Drop down Icons &amp; Symbols" data-noaft="1">
            </div>
            <div class="dropdown-content">
            <a routerLink="../e-information">Employes</a>
            </div>
          </div>
        </ul>
    </nav>
   </header>

</body>
</html>