<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <app-navbar></app-navbar>
    <section class="cnt-section ">
        <div class="container cnt-background">
            <div>
                <h4>CONTACT US</h4>
                <form action="" class="contact-form">
                    <input type="text" name="name" placeholder="Name" >
                    <input type="email" name="Email" placeholder="Enter email" >
                    <input type="message" name="message" placeholder="message"  class="message">
                    <a >submite</a>
                </form>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</body>
</html>